{% extends "@ValentinStock/_layout.html.twig" %}

{% block main %}
<div class="container">

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li class="active"><a href="{{ path('season_index') }}">Seasons</a></li>
    </ol>
    <div class="well header-page">
        <div class="row">
            <div class="col-md-8">
                <h2>Seasons</h2>
            </div>
            <div class="col-md-4">
                <span class="pull-right">
                    <a href="{{ path('season_new') }}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New season</a>
                </span>
            </div>
        </div>
    </div>

    <table id="product-table" class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.name }}</td>
                <td>
                    <a href="{{ path('season_edit', {'id':season.id}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('season_delete', {'id':season.id}) }}">
                        <i class="glyphicon glyphicon-trash" style="color: red;"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<a href="{{ path('season_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add season</a>
{% endblock %}
