{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <!--
    {% for product in products %}
        <p>{{ product.id }} | {{ product.name }} | {{ product.price }}€ | Quantité : {{ product.number }}</p>
    {% endfor %}
    -->

    <div class="container">
        <h2>Base de données</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Edit</th>
                 </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><p>{{ product.id }}</p></td>
                        <td><p>{{ product.name }}</p></td>
                        <td><p>{{ product.price }}€</p></td>
                        <td><p>{{ product.number }}</p></td>
                        <td><p>{{ product.price * product.number }}€</p></td>
                        <td>
                            <a href="{{ path('product_edit', {'id':product.id}) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <a href="{{ path('product_new') }}" class="btn btn-primary">Ajouter un produit</a>
{% endblock %}
