{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <div class="container">
        <h2>Produits finis</h2>
        <table id="product-table" class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ref</th>
                    <th>Nom</th>
                    <th>Saison</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                 </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td><p>{{ product.id }}</p></td>
                        <td><p>{{ product.ref }}</p></td>
                        <td><p>{{ product.name }}</p></td>
                        <td><p>{{ product.season }}</p></td>
                        <td><p>{{ product.price }}€</p></td>
                        <td><p>{{ product.number }}</p></td>
                        <td><p style="font-weight: bold;">{{ product.price * product.number }}€</p></td>
                        <td>
                            <a href="{{ path('product_edit', {'id':product.id}) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('product_delete', {'id':product.id}) }}">
                                <i class="glyphicon glyphicon-remove" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <a href="{{ path('product_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Ajouter un produit</a>
{% endblock %}
