{{ form_start(form) }}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Production</h3>
    </div>
    <div class="panel-body">

        {{ form_row(form) }} <!--à enlever pour enlever "Valentin stockbundle product"**/-->

    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('production_index') }}" class="btn btn-default btn-block">Annuler</a>
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-info btn-block">Save</button>
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
