{{ form_start(form, {'attr': {'id': 'form_production'}}) }}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Production</h3>
    </div>
    <div class="panel-body">

        <div class="well">

            <h4><i class="glyphicon glyphicon-th"></i> Model</h4>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.productModel, {'attr': {'class':'product_model'}}) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.priceWhole) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.season) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.createdAt) }}
                </div>
            </div>

        </div>

        <div class="well sizes">

            <div class="row">
                <div class="col-md-6">
                    <h4><i class="glyphicon glyphicon-list-alt"></i> Sizes quantities</h4>
                </div>
                <div class="col-md-6">
                    <div class="result_ajax pull-right">

                        <img src="{{ asset('bundles/valentinstock/assets/img/loading.gif') }}" alt="loading" class="hide_soft loading">

                        <div class="alert alert-danger reponse_ko hide_soft">
                            <i class="glyphicon glyphicon-warning-sign"></i>
                            Not enough materials in stock!
                        </div>

                        <div class="alert alert-success reponse_ok hide_soft">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                            Enough materials in stock!
                        </div>

                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.quantitySizeUniq) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    {{ form_row(form.quantitySizeZero) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.quantitySizeOne) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.quantitySizeTwo) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.quantitySizeThree) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.quantitySizeFour) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.quantitySizeFive) }}
                </div>
            </div>
        </div>

    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('production_index') }}" class="btn btn-default btn-block">Annuler</a>
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-info btn-block" id="saveProduction" disabled="disabled">Save</button>
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
