{% extends "ValentinStockBundle:Default:_layout.html.twig" %}

{% block main %}
    <div class="container">
        <h2>Zips</h2>
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ref</th>
                    <th>Nom</th>
                    <th>Marque</th>
                    <th>Couleur</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for zip in zips %}
                    <tr>
                        <td><p>{{ zip.id }}</p></td>
                        <td><p>{{ zip.ref }}</p></td>
                        <td><p>{{ zip.name }}</p></td>
                        <td><p>{{ zip.brand }}</p></td>
                        <td><p>{{ zip.color }}</p></td>
                        <td><p>{{ zip.number }}</p></td>
                        <td><p>{{ zip.price }}€</p></td>
                        <td><p style="font-weight: bold;">{{ zip.number * zip.price }}€</p></td>
                        <td>
                            <a href="{{ path('zip_edit', {'id':zip.id}) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('zip_delete', {'id':zip.id}) }}">
                                <i class="glyphicon glyphicon-remove" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="{{ path('zip_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Ajouter un zip</a>
        <hr>


        <h2>Tissus</h2>
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ref</th>
                    <th>Nom</th>
                    <th>Marque</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for cloth in cloths %}
                    <tr>
                        <td><p>{{ cloth.id }}</p></td>
                        <td><p>{{ cloth.ref }}</p></td>
                        <td><p>{{ cloth.name }}</p></td>
                        <td><p>{{ cloth.brand }}</p></td>
                        <td><p>{{ cloth.number }}m</p></td>
                        <td><p>{{ cloth.price }}€/m</p></td>
                        <td><p style="font-weight: bold;">{{ cloth.number * cloth.price }}€</p></td>
                        <td>
                            <a href="{{ path('cloth_edit', {'id':cloth.id}) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('cloth_delete', {'id':cloth.id}) }}">
                                <i class="glyphicon glyphicon-remove" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="{{ path('cloth_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Ajouter un tissu</a>
        <hr>


        <h2>Boutons</h2>
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ref</th>
                    <th>Nom</th>
                    <th>Marque</th>
                    <th>Couleur</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for button in buttons %}
                    <tr>
                        <td><p>{{ button.id }}</p></td>
                        <td><p>{{ button.ref }}</p></td>
                        <td><p>{{ button.name }}</p></td>
                        <td><p>{{ button.brand }}</p></td>
                        <td><p>{{ button.color }}</p></td>
                        <td><p>{{ button.number }}</p></td>
                        <td><p>{{ button.price }}€</p></td>
                        <td><p style="font-weight: bold;">{{ button.number * button.price }}€</p></td>
                        <td>
                            <a href="{{ path('button_edit', {'id':button.id}) }}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('button_delete', {'id':button.id}) }}">
                                <i class="glyphicon glyphicon-remove" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="{{ path('button_new') }}" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Ajouter un bouton</a>
    </div>
{% endblock %}