{{ form_start(form) }}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Product Models</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.reference) }}
            </div>
        </div>

        <hr>
        <h4>Materials required</h4>

        <div class="collection">
            <span class="pull-right">
                <a href="#" class="btn collection-add" data-collection="valentin_stockbundle_product_model_materialsQuantity">
                    <i class="glyphicon glyphicon-plus">Add</i>
                </a>
            </span>

            <div class="">
                {{ form_widget(form.materialsQuantity.vars.prototype) }}
            </div>

            {% for materialQty in form.materialsQuantity %}
                <div class="well">
                    <div class="row">
                        <div class="col-md-8">
                            {{ form_row(materialQty.material) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(materialQty.quantity) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('product_model_index') }}" class="btn btn-default btn-block">Annuler</a>
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-info btn-block">Save</button>
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
