{{ form_start(form) }}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Product Models</h3>
    </div>
    <div class="panel-body">

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.reference) }}
            </div>
        </div>

        <hr>
        <h4>Materials required</h4>

        <div class="collection">
            <ul class="materials list-unstyled" data-prototype="{{ form_widget(form.materials.vars.prototype)|e }}">

                {% for material in form.materials %}
                    <li class="well">
                        {{ form_row(material.material) }}
                        {{ form_row(material.quantity) }}
                    </li>
                {% endfor %}

            </ul>
        </div>


    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path('product_model_index') }}" class="btn btn-default btn-block">Annuler</a>
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-info btn-block">Save</button>
            </div>
        </div>
    </div>
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
