{% extends "@ValentinStock/_layout.html.twig" %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('material_index') }}">Materials</a></li>
        <li class="active"><a href="{{ path('material_delete',{'id':material.id}) }}">Delete</a></li>
    </ol>
    <div class="well header-page">
        <div class="row">
            <div class="col-md-12">
                <h2>Are you sure to delete material "{{ material.name }}" ?</h2>
            </div>
        </div>
    </div>

    <div class="well">
        <form method="post">
            <button class="btn btn-danger" type="submit" style="float: right;">Yes</button>
        </form>
        <a href="{{ path('material_index') }}" class="btn btn-default">No</a>
    </div>
{% endblock %}
